.Autocomplete {
  width: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.Input-group {
  flex: 1;
  align-content: space-between;
  height: 35px;
  display: flex;
  border-width: 1px;
  border-color: black;
  border-style: solid;
  border-radius: 5px;
}
input.Search-text {
  border: none;
  padding: 0;
  margin: 0;
  height: 35px;
  display: flex;
  flex-grow: 1;
  padding-left: 5px;
  padding-right: 5px;
  font-size: large;
}
.Search-text input:focus-visible {
  outline: none;
  box-shadow: none;
  border-color: transparent;
}

.Arrow-wrapper {
  display: flex;
  width: 15px;
  height: 35px;
  align-items: center;
  justify-content: center;
  margin: 0 3px 0 3px;
  background-color: transparent;
  border: none;
}

.clear-selection {
  background-color: transparent;
  border: none;
  color: lightsteelblue;
  padding: 0 10px 0 10px;
}

.clear-selection:hover {
  color: blue;
}

.Arrow {
  border: solid lightsteelblue;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.Arrow-Up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.Arrow-Down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.Dropdown-content {
  background-color: red;
  height: 100px;
}

.suggested-autocomplete-wrapper {
  display: flex;
  /* flex: 1; */
  max-height: 200px;
  margin-top: 3px;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;  
  border-radius: 5px;
  border-color: lightsteelblue;
  border-width: 1px;
  border-style: solid;
}

.suggested-autocomplete-wrapper::-webkit-scrollbar {
  display: none;
}

.suggestion-wrapper {
  min-height: 40px;
  padding: 0 10px 0 10px;
  background-color: aliceblue;
  border: none;
  font-size: large;
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  min-width: 0;
}

button.suggestion-wrapper:hover {
  background-color: lightsteelblue;
}

button.suggestion-wrapper.no-match:hover {
  background-color: transparent;
}

.highlighted-text {
  background-color: aquamarine;
}

